/* Estilos globales */
* {
     font-family: 'Montserrat', sans-serif;
}
.bbh-bogle-regular{
    font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: #6e8387;
    color: wheat;
}

/* Foto */
.mi_foto {
    width: 250px;
    border-radius: 15%;
}

/* Párrafos */
p {
    font-size: 18px;
    line-height: 1.6;
    color: rgb(50, 50, 50);
}

/* Clase mi-clase (header y sección sobre mi) */
.mi-clase {
    text-align: start;
    font-style: italic;
    font-size: larger;
}

/* Elemento con id mi-id */
#mi-id {
    font-size: larger;
}

/* Enlaces dentro de mi-clase */
.mi-clase a {
    color: #d5d2c8;
}

/* Formulario */
input, textarea, button {
    font-size: larger;
}

input, textarea {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: brown;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(56, 0, 0);
}

/* Display examples */
.display-examples {
    background-color: #6e8387;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.display-examples h2,
.display-examples h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.caja {
    display: block;
    background-color: #f01f1f;
    padding: 10px;
    text-align: center;
}

.caja-block {
    width: 100%;
    position: relative;
    top: 10px;
    left: 20px;
}
.caja-block1 {
    width: 100%;
    position: sticky;
    top: 10px;
    left: 20px;
}
/* Inline */
.inline {
    display: inline;
    background-color: #f5c27f;
    color: #333;
    padding: 5px 10px;
    margin-right: 5px;
}

/* Inline-block */
.inline-block {
    display: inline-block;
    background-color: #80aaff;
    color: #fff;
    padding: 10px;
    width: 120px;
    text-align: center;
    margin-right: 5px;
    border: 1px dashed #ccc;
}
#box-model-demo {
    margin-top: 40px;
    padding: 20px;
    /*border-top: 2px solid #ccc;*/
}
.box-demo {
    width: 200px;
    padding: 20px;
    border: 5px solid #333;
    margin: 15px;
    background-color: #e6c927e5;
    color: #000;
}

#box-sizing-demo {
    margin-top: 40px;
    
}
.box-cb, .box-bb {
  
    padding: 20px;
    margin-bottom: 15px;
    border: 5px solid #333;
    background-color: #7ff5a1e5;
    color: #000;
}
.box-cb {
    width: 200px;
    box-sizing: content-box;
}

.box-bb {
    width: 200px;
    box-sizing: border-box;
    background-color: #1baa73;
}
h1{
    color: tomato;
}

.mi-clase h1 {
    color: yellow;
}
.mi-clase h1{
    color: #243f5e;
}
li{
    color: rgb(184, 42, 120) ;
}
.mi-clase li{
    color: #135a25;
}
#mi-id{
    color: #551a8b;
}