*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 1rem;
    background: #020617;
    color: aliceblue;
}
h1 {
    text-align: center;
    margin-bottom: 2rem;
}
section {
    margin-bottom: 2rem;
}

.caja {
    width: 100px;
    height: 60px;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

.contenedor-1 {
    border: 1px dashed #563 ;
    padding: 1rem;
    display: flex;
}   
.contenedor-2 {
    border: 1px dashed #563 ;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}
.contenedor-3 {
    border: 1px dashed #563 ;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Alineacion horizontal ROW en fe*/
    align-items: flex-start; /* Alineacion vertical Column flex-directiom*/
}